body {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    border: 10px solid #2b81ac; 
    background: #3399cc;
	min-height: 100vh;
    margin: 0;
	color: white;
	vertical-align: middle;
}
.block {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
h1 h2 {
    font-size: 25px;
	font-weight: normal;
	padding: 3px 0;
}


.weather-block {
    width: 100%;
    font-size: 0;
    padding-left: 0;
    margin: auto;
}
.weather-block li {
    display: inline-block;
    font-size: 24px;
    height: 100px;
    text-align: center;
}


    /*Dimensions block*/
.small-block {
    width: 25%;
}
.medium-block {
    width: 50%;
}
.large-block {
    width: 100%;
}

        /*Color block*/
.weather-block li:nth-child(1) {
    background-color: #3398cc;
    }
.weather-block li:nth-child(2) {
    background-color: #32cccc;
}
.weather-block li:nth-child(3) {
    background-color: #986699;
    }
.weather-block li:nth-child(4) {
    background-color: #c24847;
    }
.weather-block li:nth-child(5) {
    background-color: #e2664a;
    }
.weather-block li:nth-child(6) {
    background-color: #ffcc66;
    }
.weather-block li:nth-child(7) {
    background-color: #9acc99;
    }
.weather-block li:nth-child(8) {
    background-color: #66999a;
    }
.weather-block li:nth-child(9) {
    background-color: #cc6698;
    }
.weather-block li:nth-child(10) {
    background-color: #339967;
    }  
.weather-block li:nth-child(11) {
    background-color: #666698;
    }  
             